<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理系统</title>
</head>
<body>
<div align="center">
    <h1>学生管理系统</h1>
    <p></p>
    <form action="{{ url_for('stu_sys.findstu') }}" method="get">
{#        {{form.csrf_token() }}#}
        <input type="text" name="str" placeholder="此处填写姓名或学号">
        <input type="submit" value="搜索">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    </form>
    <p><a href="{{ url_for ('stu_sys.addstu') }}">添加学生</a></p>
    <table border="1">
        <thead>
        <tr>
            <th>学生编号</th>
            <th>学生姓名</th>
            <th>学生性别</th>
            <th>学生年龄</th>
            <th>学生年级</th>
            <th>学生专业</th>
            <th>学生学号</th>
            <th>学生成绩</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id}}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.sex }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.major }}</td>
                <td>{{ student.stu_id }}</td>
                <td>{{ student.score }}</td>
                <td><a href="{{ url_for('stu_sys.updatestu') }}?update_id={{ student.id }}">修改</a>|
                    <a href="{{ url_for('stu_sys.deletestu') }}?del_id={{ student.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="margin-right:15px">共{{ count }}条记录</div>
</div>

</body>
</html>